:root {
  --header-height: 3rem;
  --font-semi: 600;
  --first-color: #920606;
  --first-color: #4070F4;
  --second-color: #0E2431;
  --font-body: Inter, var(--font-fallback);
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;

  --mb1: .5rem;
  --mb2: 1rem;
  --mb3: 1.5rem;
  --mb4: 2rem;
  --mb5: 2.5rem;
  --mb6: 3rem;

  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
      --big-font-size: 3.5rem;
      --h2-font-size: 2rem;
      --normal-font-size: 1rem;
  }
}
@keyframes example {
  from {opacity: 0;}
  to {opacity: 1;}
}

@media (max-width: 390px) {
  .animated {
    animation: none !important;
    transition: none !important;
  }
  .progress-bar-striped {
    background-image: none !important;
  }
  .progress-bar-animated {
    animation: none !important;
  }
  .slider .slide-track {
    animation: none !important;
  }
}

*, ::before, ::after { box-sizing: border-box; }
html { scroll-behavior: smooth; }


html {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  line-height: 1.5;
  background-color: #121212 !important;
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-thumb {
  background-color: rgb(255, 8, 8);
  border-radius: 15px; 
}

::-webkit-scrollbar-track {
  background-color: #121212;
}
#nav{
  z-index: 1000;
}

.navbar-custom {
  background: #1212126b;
  color: white;
  border-bottom: 0.2px solid rgb(99, 6, 6);
  transition: background-color 0.3s ease-in-out, 
              box-shadow 0.3s ease-in-out, 
              border-bottom 0.3s ease-in-out;
  backdrop-filter: blur(10px);
}
.navbar-custom.transparent {
  background: transparent !important;
  border-bottom: none !important;
  border-bottom: 0.2px solid rgb(99, 6, 6);
  backdrop-filter:  blur(20px);
  color:white;
}

.hamburger {
  display: inline-block;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #fff; /* Color de las líneas */
  transition: all 0.3s ease-in-out;
}

.navbar-toggler.collapsed .bar:nth-child(1) {
  transform: rotate(0);
}

.navbar-toggler.collapsed .bar:nth-child(2) {
  opacity: 1;
}

.navbar-toggler.collapsed .bar:nth-child(3) {
  transform: rotate(0);
}

.navbar-toggler:not(.collapsed) .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.navbar-toggler:not(.collapsed) .bar:nth-child(2) {
  opacity: 0;
}

.navbar-toggler:not(.collapsed) .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}


.navbar-custom.transparent .nav-link {
  color: #ffffff;
}

.navbar-custom .nav-link {
  color: #ffffff;
  transition: color 0.3s ease-in-out;
}

.navbar-custom .nav-link:hover {
  color: rgb(255, 255, 255) !important;
}


.subrayado1 {
  position: relative;
  display: inline-block;
  color:#ffffff;
  font-weight: bold;
}
.subrayado1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: var(--color-subrayado, rgb(99, 6, 6));
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.subrayado1:hover::after {
  transform: scaleX(1);
}

#Acerca{
  position: relative;
  height: 100vh;
}

.inicio {
  position: fixed; 
  top: 90px;
  left: 20px; 
  padding: 10px;
  background-color: #770707; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.76);
  border-radius: 50%; 
  text-align: center;
  font-size: 24px;
  z-index: 1000;
  transition: background-color 0.3s, transform 0.3s;
}

.inicio:hover {
  background-color: #ad0808; 
  transform: scale(1.1);
}

.inicio i {
  color: white;
}


.project-image {
  object-fit: cover;
  max-width: 80%;
}

.project-description {
  text-align: justify;
  backdrop-filter: blur(5px);
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.2); 
  border:  2px solid rgba(223, 223, 215, 0.5); 
  font-family: 'Raleway', sans-serif; 
  padding: 30px;
  color:white;
  text-align: justify;
}


.about-section .section-title {
  margin-bottom: 30px;
  padding: 0;
}


.section-title{
  flex:0 0 100%;
  max-width: 100%;
  margin-bottom: 30px;
  padding: 0 15px;
}
.section-title h1{
  display: inline-block;
  font-size: 40px;
  color: #ffffff;
  font-weight: 700;
  margin: 0;
  position: relative;
}
.section-title h1:before{
  content: '';
  box-sizing: border-box;
  position: absolute;
  left:0;
  bottom:-5px;
  width: 100px;
  height: 3px;
  background-color: #740606;
}
.about-section .subtitulo {
  font-size: 16px;
  line-height: 26px;
  margin: 0;
}
.lista-tecn {
  list-style: none; 
  padding: 0;
  display: flex;
  gap: 15px; 
  justify-content: center; 
  margin-top: 20px;
}

.lista-tecn li {
  font-size: 2rem; 
  margin: 15px;
}

.lista-tecn .fa-java {color: #20f8e6; }

.lista-tecn .fa-css3-alt {color: #264de4; }

.lista-tecn .fa-database { color: #4db33d; }

.lista-tecn .fa-html5 {color: #e34c26; }

.lista-tecn .fa-js { color: #f7df1e; }

#Detalles{
  position: relative;
}

.carousel-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.carousel-slide img {
  width: 100%;
  flex-shrink: 0;
  display: block;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  color: #530505;
  padding: 10px;
  font-size: 40px;
  cursor: pointer;
  background-color: transparent;
}
.prev {
  left: 30px;
}
.next {
  right: 30px;
}
#projects{
  position: relative;
  height: 100vh;
}
.section-title {
  margin-bottom: 1.5rem;
}
.section-title h2 {
  color: #ffffff;
  font-weight: 600;
}
.section-title .subtitulo {
  color: #ffffff;
}

.card {
  border: none;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.07);
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.2rem;
  color: #023e8a;
  font-weight: 600;
}

.card-text {
  font-size: 0.95rem;
  color: #555;
}

.icono-funcion {
  font-size: 1.8rem;
  color: #48cae4;
  margin-bottom: 10px;
}

.section {
  padding: 60px 0;
}
